# Runtime and build files
**/__pycache__/
/dist/
doc/build
*.pyc
/*.yang

# Test fragments
err.out
*.log

# Coverage files
*.coverage*
coverage.xml

# Unknown
/.testtmp/

# Image files
*.qcow2
*.img
*.raw
*.iso
bzImage
rootfs.cpio.gz

# Developer files
.dir-locals.el